<body>
    <div class="container">
        <header>
            <h1>Trades</h1>
        </header>

        <ul>
            {{#each trades}}
                {{> trade}}
            {{/each}}
        </ul>
    </div>
</body>

<template name="trade">
    <li>{{text}}</li>
</template>